.opacity_100{
    opacity: 1;
}
.opacity_50{
    opacity: 0.5;
}
.opacity_25{
    opacity: 0.25;
}

.botao{
    padding: 15px;
    background: green;
    color: white;
    text-decoration: none;
}

.botao:hover{
    opacity: 0.5;
}